{% extends "base.html" %}

{% block title %}Cover | Perseria{% endblock %}

{% block content %}
	<div id = "covercontent">
		<div class="breakdown">
			{% if cover %}
				{% if user.is_authenticated %}
					<h2>{{ cover.cover.type }} breakdown cover</h2>
					<p>Thank you for choosing us for your breakdown cover</p>
					<p>{{ cover.cover.description }}</p>
					<p><span class="bold">Start date:</span> {{ cover.start_date }}</p>
					<p><span class="bold">End date:</span> {{ cover.start_date }}</p>
					<ul>
						{% for vehicle in vehicles %}
							<li>{{ vehicle.registration_no }}</li>
						{% empty %}
							<p>You currently have no vehicles</p>
						{% endfor %}
					</ul>
				{% endif %}
			{% else %}
				<p>We see that you have no breakdown cover with us, why not add one today?</p>
			{% endif %}	
		</div>
	</div>
{% endblock %}